<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.orbit.orbitservice.mapper.OrbitControlTaskDetailMapper" >
  <resultMap id="BaseResultMap" type="com.car.orbit.orbitservice.entity.OrbitControlTaskDetail" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="TASK_ID" property="taskId" jdbcType="VARCHAR" />
    <result column="PLATE_COLOR" property="plateColor" jdbcType="VARCHAR" />
    <result column="PLATE_NUMBER" property="plateNumber" jdbcType="VARCHAR" />
    <result column="FUZZY" property="fuzzy" jdbcType="INTEGER" />
    <result column="VEHICLE_BRAND" property="vehicleBrand" jdbcType="VARCHAR" />
    <result column="VEHICLE_BRAND_CHILD" property="vehicleBrandChild" jdbcType="VARCHAR" />
    <result column="VEHICLE_COLOR" property="vehicleColor" jdbcType="VARCHAR" />
    <result column="VEHICLE_TYPE" property="vehicleType" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    ID,TASK_ID,PLATE_NUMBER,PLATE_COLOR,FUZZY,VEHICLE_BRAND,VEHICLE_BRAND_CHILD,VEHICLE_COLOR,VEHICLE_TYPE
  </sql>

  <select id="getInitAllDetails" resultMap="BaseResultMap">
    SELECT d.* FROM orbit_control_task_detail d
      LEFT JOIN orbit_control_task t ON d.TASK_ID = t.ID
    WHERE t.DELETED = 1 AND t.STATUS = 1
  </select>

</mapper>