<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.orbit.orbitservice.mapper.OrbitResDeviceMapper" >
  <resultMap id="BaseResultMap" type="com.car.orbit.orbitservice.entity.OrbitResDevice" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="INTEGER" />
    <result column="LATITUDE" property="latitude" jdbcType="DOUBLE" />
    <result column="LONGITUDE" property="longitude" jdbcType="DOUBLE" />
    <result column="ONLINE" property="online" jdbcType="INTEGER" />
    <result column="MANUFACTURER" property="manufacturer" jdbcType="INTEGER" />
    <result column="DOMAIN_CODE" property="domainCode" jdbcType="INTEGER" />
    <result column="INSTALL_ADDRESS" property="installAddress" jdbcType="VARCHAR" />
    <result column="TERMINAL_ID" property="terminalId" jdbcType="VARCHAR" />
    <result column="ROAD_CROSS_POINT_ID" property="roadCrossPointId" jdbcType="VARCHAR" />
    <result column="ROADWAY_NUM" property="roadwayNum" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="PORT" property="port" jdbcType="INTEGER" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="DELETED" property="deleted" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="DetailMap" type="com.car.orbit.orbitservice.vo.DeviceDetailVO" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="INTEGER" />
    <result column="LATITUDE" property="latitude" jdbcType="DOUBLE" />
    <result column="LONGITUDE" property="longitude" jdbcType="DOUBLE" />
    <result column="ONLINE" property="online" jdbcType="INTEGER" />
    <result column="INSTALL_ADDRESS" property="installAddress" jdbcType="VARCHAR" />
    <result column="MANUFACTURER" property="manufacturer" jdbcType="INTEGER" />
    <result column="ROAD_CROSS_POINT_ID" property="roadCrossPointId" jdbcType="VARCHAR" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="PORT" property="port" jdbcType="INTEGER" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="areaName" property="areaName" jdbcType="VARCHAR" />
    <result column="cityName" property="cityName" jdbcType="VARCHAR" />
    <result column="roadName" property="roadName" jdbcType="VARCHAR" />
    <result column="cityId" property="cityId" jdbcType="VARCHAR" />
    <result column="areaId" property="areaId" jdbcType="VARCHAR" />
    <result column="roadCrossPointId" property="roadCrossPointId" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="SimpleMap" type="com.car.orbit.orbitservice.vo.DeviceSimpleVO" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="LATITUDE" property="latitude" jdbcType="DOUBLE" />
    <result column="LONGITUDE" property="longitude" jdbcType="DOUBLE" />
    <result column="ONLINE" property="online" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="TreeMap" type="com.car.orbit.orbitservice.vo.DeviceTreeVO" >
    <id column="deviceId" property="deviceId" jdbcType="VARCHAR" />
    <result column="deviceName" property="deviceName" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="online" property="online" jdbcType="INTEGER" />
    <result column="cityId" property="cityId" jdbcType="VARCHAR" />
    <result column="cityName" property="cityName" jdbcType="VARCHAR" />
    <result column="areaId" property="areaId" jdbcType="VARCHAR" />
    <result column="areaName" property="areaName" jdbcType="VARCHAR" />
    <result column="roadCrossPointId" property="roadCrossPointId" jdbcType="VARCHAR" />
    <result column="roadName" property="roadName" jdbcType="VARCHAR" />
  </resultMap>

  <!-- 设备分页查询-->
  <select id="queryListByPage" parameterType="com.car.orbit.orbitservice.qo.DeviceQO" resultMap="DetailMap">
    SELECT d.ID,d.LATITUDE,d.LONGITUDE,d.`ONLINE`,d.`NAME`,d.INSTALL_ADDRESS,d.MANUFACTURER,
    d.TYPE,d.IP,d.`PORT`,d.USERNAME,d.`PASSWORD`,a.`NAME` areaName,
    c.`NAME` cityName,r.`NAME` roadName,c.ID cityId,a.ID areaId,r.ID roadCrossPointId FROM orbit_res_device d
    LEFT JOIN orbit_res_roadcross_point r ON r.ID = d.ROAD_CROSS_POINT_ID
    LEFT JOIN orbit_res_area a ON a.ID = r.AREA_ID
    LEFT JOIN orbit_res_city c ON c.ID = a.CITY_ID
    WHERE d.DELETED != 2
    <if test=" type != null and type != ''">
      and d.type = #{type}
    </if>
    <if test=" online != null">
      and d.online = #{online}
    </if>
    <if test=" cityId != null and cityId != ''">
      and c.ID = #{cityId}
    </if>
    <if test=" areaId != null and areaId != ''">
      and a.ID = #{areaId}
    </if>
    <if test=" roadCrossPointId != null and roadCrossPointId != ''">
      and r.ID = #{roadCrossPointId}
    </if>
    <if test=" areaIdList != null and areaIdList.size() > 0">
      and r.AREA_ID in
      <foreach item="item" index="index" collection="areaIdList" open="("  close=")" separator=",">
        #{item}
      </foreach>
    </if>
    <if test=" cityIdList != null and cityIdList.size() > 0">
      and a.CITY_ID in
      <foreach item="item" index="index" collection="cityIdList" open="("  close=")" separator=",">
        #{item}
      </foreach>
    </if>
    <if test=" roadIdList != null and roadIdList.size() > 0">
      and d.ROAD_CROSS_POINT_ID in
      <foreach item="item" index="index" collection="roadIdList" open="("  close=")" separator=",">
        #{item}
      </foreach>
    </if>
      order by convert(d.NAME using gbk)
  </select>

  <!-- 查询所有未被删除设备 -->
  <select id="queryAllList" parameterType="com.car.orbit.orbitservice.entity.OrbitResDeviceExtends" resultMap="SimpleMap">
    SELECT d.ID,d.`NAME`,d.LATITUDE,d.LONGITUDE,d.`ONLINE` FROM orbit_res_device d
    LEFT JOIN orbit_res_roadcross_point r ON r.ID = d.ROAD_CROSS_POINT_ID
    LEFT JOIN orbit_res_area a ON a.ID = r.AREA_ID
    LEFT JOIN orbit_res_city c ON c.ID = a.CITY_ID
    WHERE d.DELETED != 2
    <if test=" name != null and name != ''">
      and d.NAME = #{name}
    </if>
    <if test=" roadCrossPointId != null and roadCrossPointId != ''">
      and d.ROAD_CROSS_POINT_ID = #{roadCrossPointId}
    </if>
    <if test=" areaIdList != null and areaIdList.size() > 0">
      and r.AREA_ID in
      <foreach item="item" index="index" collection="areaIdList" open="("  close=")" separator=",">
        #{item}
      </foreach>
    </if>
    <if test=" cityIdList != null and cityIdList.size() > 0">
      and a.CITY_ID in
      <foreach item="item" index="index" collection="cityIdList" open="("  close=")" separator=",">
        #{item}
      </foreach>
    </if>
    <if test=" roadIdList != null and roadIdList.size() > 0">
      and d.ROAD_CROSS_POINT_ID in
      <foreach item="item" index="index" collection="roadIdList" open="("  close=")" separator=",">
        #{item}
      </foreach>
    </if>
      order by convert(d.NAME using gbk)
  </select>

  <select id="queryTreeData" parameterType="com.car.orbit.orbitservice.entity.OrbitResDeviceExtends"  resultMap="TreeMap">
    SELECT d.`NAME` deviceName,d.ID deviceId,d.`ONLINE` online,d.LATITUDE latitude,d.LONGITUDE longitude,r.ID roadCrossPointId,
    r.`NAME` roadName,c.ID cityId,c.`NAME` cityName,a.ID areaId,a.`NAME` areaName FROM orbit_res_device d
    LEFT JOIN orbit_res_roadcross_point r ON r.ID = d.ROAD_CROSS_POINT_ID
    LEFT JOIN orbit_res_area a ON a.ID = r.AREA_ID
    LEFT JOIN orbit_res_city c ON c.ID = a.CITY_ID
    WHERE d.DELETED = 1
    <if test=" areaIdList != null and areaIdList.size() > 0">
      and r.AREA_ID in
      <foreach item="item" index="index" collection="areaIdList" open="("  close=")" separator=",">
        #{item}
      </foreach>
    </if>
    <if test=" cityIdList != null and cityIdList.size() > 0">
      and a.CITY_ID in
      <foreach item="item" index="index" collection="cityIdList" open="("  close=")" separator=",">
        #{item}
      </foreach>
    </if>
    <if test=" roadIdList != null and roadIdList.size() > 0">
      and d.ROAD_CROSS_POINT_ID in
      <foreach item="item" index="index" collection="roadIdList" open="("  close=")" separator=",">
        #{item}
      </foreach>
    </if>
  </select>

</mapper>