<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.orbit.orbitservice.mapper.OrbitResRoadcrossPointMapper" >
  <resultMap id="BaseResultMap" type="com.car.orbit.orbitservice.entity.OrbitResRoadcrossPoint" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="LATITUDE" property="latitude" jdbcType="DOUBLE" />
    <result column="LONGITUDE" property="longitude" jdbcType="DOUBLE" />
    <result column="DIRECTION_CODE" property="directionCode" jdbcType="INTEGER" />
    <result column="ROADWAY_NUM" property="roadwayNum" jdbcType="INTEGER" />
    <result column="AREA_ID" property="areaId" jdbcType="VARCHAR" />
    <result column="DELETED" property="deleted" jdbcType="INTEGER" />
  </resultMap>


  <resultMap id="DivisionSimpleVOMap" type="com.car.orbit.orbitservice.vo.DivisionSimpleVO" >
    <result column="cityId" property="cityId" jdbcType="VARCHAR" />
    <result column="cityName" property="cityName" jdbcType="VARCHAR" />
    <result column="areaId" property="areaId" jdbcType="VARCHAR" />
    <result column="areaName" property="areaName" jdbcType="VARCHAR" />
    <result column="roadCrossPointId" property="roadCrossPointId" jdbcType="VARCHAR" />
    <result column="roadName" property="roadName" jdbcType="VARCHAR" />
  </resultMap>

  <select id="queryDivisionSimpleVO" parameterType="java.lang.String" resultMap="DivisionSimpleVOMap">
    SELECT r.ID roadCrossPointId,r.`NAME` roadName,c.ID cityId,c.`NAME` cityName,a.ID areaId,a.`NAME` areaName FROM orbit_res_roadcross_point r
    LEFT JOIN orbit_res_area a ON a.ID = r.AREA_ID
    LEFT JOIN orbit_res_city c ON c.ID = a.CITY_ID
    WHERE r.ID = #{roadId}
    order by convert(r.NAME using gbk)
  </select>

</mapper>