<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.orbit.orbitservice.mapper.OrbitVehicleBrandChildMapper" >
  <resultMap id="BaseResultMap" type="com.car.orbit.orbitservice.entity.OrbitVehicleBrandChild" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="ZH_NAME" property="zhName" jdbcType="VARCHAR" />
    <result column="EN_NAME" property="enName" jdbcType="VARCHAR" />
    <result column="ES_NAME" property="esName" jdbcType="VARCHAR" />
    <result column="PARENT_CODE" property="parentCode" jdbcType="VARCHAR" />
  </resultMap>
</mapper>