<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.orbit.orbitservice.mapper.OrbitResAreaMapper" >
  <resultMap id="BaseResultMap" type="com.car.orbit.orbitservice.entity.OrbitResArea" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="ADMIN_REGION_CODE" property="adminRegionCode" jdbcType="VARCHAR" />
    <result column="CITY_ID" property="cityId" jdbcType="VARCHAR" />
    <result column="DELETED" property="deleted" jdbcType="INTEGER" />
  </resultMap>
</mapper>