<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.orbit.orbitservice.mapper.OrbitSysLogMapper" >
  <resultMap id="BaseResultMap" type="com.car.orbit.orbitservice.entity.OrbitSysLog" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="DATA_TYPE" property="dataType" jdbcType="INTEGER" />
    <result column="ACTION_TYPE" property="actionType" jdbcType="INTEGER" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="PageLogMap" type="com.car.orbit.orbitservice.vo.LogVO" >
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="DATA_TYPE" property="dataType" jdbcType="INTEGER" />
    <result column="ACTION_TYPE" property="actionType" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="photo_url" property="photoUrl" jdbcType="VARCHAR" />
  </resultMap>

  <select id="queryPageList" parameterType="com.car.orbit.orbitservice.qo.LogQO" resultMap="PageLogMap">
    SELECT u.USERNAME,u.`NAME`,log.DATA_TYPE,log.ACTION_TYPE,
    DATE_FORMAT(log.CREATE_TIME,'%Y-%m-%d %H:%i:%s') CREATE_TIME,log.DESCRIPTION,u.photo_url FROM orbit_sys_log log
    LEFT JOIN orbit_sys_user u ON log.USER_ID = u.ID
    WHERE 1=1
    <if test=" dataType != null and dataType != ''">
      AND log.DATA_TYPE = #{dataType}
    </if>
    <if test=" actionType != null and actionType != ''">
      AND log.ACTION_TYPE = #{actionType}
    </if>
    <if test=" startTime != null and startTime != ''">
      AND log.CREATE_TIME <![CDATA[ >= ]]>  #{startTime}
    </if>
    <if test=" endTime != null and endTime != ''">
      AND log.CREATE_TIME  <![CDATA[ <= ]]>  #{endTime}
    </if>
    <if test=" username != null and username != ''">
      AND (u.`NAME` like concat(concat("%",#{username}),"%"))
    </if>
    <if test=" userIdList != null and userIdList.size() > 0">
      AND log.USER_ID in
      <foreach collection="userIdList" index="index" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    ORDER BY CREATE_TIME DESC
  </select>

</mapper>