<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.orbit.orbitservice.mapper.OrbitControlAlarmMapper">
    <resultMap id="BaseResultMap" type="com.car.orbit.orbitservice.entity.OrbitControlAlarm">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="TASK_ID" property="taskId" jdbcType="VARCHAR"/>
        <result column="DEVICE_ID" property="deviceId" jdbcType="VARCHAR"/>
        <result column="ROADWAY_NO" property="roadwayNo" jdbcType="INTEGER"/>
        <result column="ROADWAY_NAME" property="roadwayName" jdbcType="VARCHAR"/>
        <result column="CAPTURE_TIME" property="captureTime" jdbcType="TIMESTAMP"/>
        <result column="PLATE_NUMBER" property="plateNumber" jdbcType="VARCHAR"/>
        <result column="ALARM_DESCRIPTION" property="alarmDescription" jdbcType="VARCHAR"/>
        <result column="ALARM_TIME" property="alarmTime" jdbcType="TIMESTAMP"/>
        <result column="STATUS" property="status" jdbcType="INTEGER"/>
        <result column="BLACKLIST_ID" property="blacklistId" jdbcType="VARCHAR"/>
        <result column="BLACKLIST_TYPE" property="blacklistType" jdbcType="VARCHAR"/>
        <result column="PHOTO_FASTDFS_URL" property="photoFastdfsUrl" jdbcType="VARCHAR"/>
        <result column="CITY_NAME" property="cityName" jdbcType="VARCHAR"/>
        <result column="AREA_NAME" property="areaName" jdbcType="VARCHAR"/>
        <result column="ROAD_NAME" property="roadName" jdbcType="VARCHAR"/>
        <result column="CITY_ID" property="cityId" jdbcType="VARCHAR"/>
        <result column="AREA_ID" property="areaId" jdbcType="VARCHAR"/>
        <result column="ROAD_CROSS_POINT_ID" property="roadCrossPointId" jdbcType="VARCHAR"/>
        <result column="PASS_VEHICLE_ID" property="passVehicleId" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="AlarmVOMap" type="com.car.orbit.orbitservice.vo.AlarmVO">
        <result column="passVehicleId" property="passVehicleId" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="alarmId" property="alarmId" jdbcType="VARCHAR"/>
        <result column="plateNumber" property="plateNumber" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="INTEGER"/>
        <result column="taskName" property="taskName" jdbcType="VARCHAR"/>
        <result column="captureTime" property="captureTime" jdbcType="VARCHAR"/>
        <result column="deviceId" property="deviceId" jdbcType="VARCHAR"/>
        <result column="deviceName" property="deviceName" jdbcType="VARCHAR"/>
        <result column="deviceType" property="deviceType" jdbcType="INTEGER"/>
        <result column="latitude" property="latitude" jdbcType="DOUBLE"/>
        <result column="longitude" property="longitude" jdbcType="DOUBLE"/>
    </resultMap>

    <resultMap id="AlarmOneFileMap" type="com.car.orbit.orbitservice.vo.AlarmOneFileVO">
        <result column="plateNumber" property="plateNumber" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="total" property="total" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 查询实时预警(返回最近十条警情) -->
    <select id="queryRealTimeAlarm" resultMap="AlarmVOMap">
      SELECT a.STATUS status,a.PASS_VEHICLE_ID passVehicleId, a.ID alarmId, a.PLATE_NUMBER plateNumber,a.PHOTO_FASTDFS_URL url,t.TASK_LEVEL level,
      t.TASK_NAME taskName,a.CAPTURE_TIME captureTime,a.DEVICE_ID deviceId,d.`NAME` deviceName,
      d.TYPE deviceType,d.LATITUDE latitude,d.LONGITUDE longitude FROM orbit_control_alarm a
      LEFT JOIN orbit_res_device d ON a.DEVICE_ID = d.ID
      LEFT JOIN orbit_control_task t ON a.TASK_ID = t.ID
      WHERE a.CAPTURE_TIME <![CDATA[ >= ]]>  #{startTime}
      AND a.CAPTURE_TIME  <![CDATA[ <= ]]>  #{endTime}
      <if test=" userId != null and userId != ''">
          AND
          ( (t.RECEIVOR_ID LIKE concat(concat("%",#{userId}),"%") OR t.CREATOR_ID = #{userId}) OR a.TASK_ID is null )
      </if>
      ORDER BY a.CAPTURE_TIME DESC LIMIT 10
  </select>

    <!-- 查询历史警情 -->
    <select id="queryHistoricalAlarm" parameterType="com.car.orbit.orbitservice.qo.AlarmQO" resultMap="AlarmVOMap">
        SELECT a.STATUS status,a.PASS_VEHICLE_ID passVehicleId, a.ID alarmId,a.PLATE_NUMBER
        plateNumber,a.PHOTO_FASTDFS_URL url,
        IF(a.TASK_ID IS NULL, 4, t.TASK_LEVEL) level,
        IF(a.TASK_ID IS NULL, bl.`NAME`, t.TASK_NAME) taskName,
        a.CAPTURE_TIME captureTime,a.DEVICE_ID deviceId,d.`NAME` deviceName,
        d.TYPE deviceType,d.LATITUDE latitude,d.LONGITUDE longitude,
        r.NAME roadName,e.NAME areaName,c.NAME cityName
        FROM orbit_control_alarm a
        LEFT JOIN orbit_res_device d ON a.DEVICE_ID = d.ID
        LEFT JOIN orbit_res_roadcross_point r on a.ROAD_CROSS_POINT_ID = r.ID
        LEFT JOIN orbit_res_area e on r.AREA_ID = e.ID
        LEFT JOIN orbit_res_city c on e.CITY_ID = c.ID
        LEFT JOIN orbit_control_task t ON a.TASK_ID = t.ID
        LEFT JOIN
          (SELECT b.VID, bt.`NAME` FROM orbit_control_blacklist b LEFT JOIN orbit_control_blacklist_type bt ON b.TYPE = bt.ID) bl ON bl.VID = a.BLACKLIST_ID
        WHERE 1=1
        <if test=" plateNumber != null and plateNumber != ''">
            AND a.PLATE_NUMBER LIKE concat(concat("%",#{plateNumber}),"%")
        </if>
        <if test=" status != null and status != ''">
            AND a.STATUS = #{status}
        </if>
        <if test=" startTime != null and startTime != ''">
            AND a.CAPTURE_TIME <![CDATA[ >= ]]>  #{startTime}
        </if>
        <if test=" endTime != null and endTime != ''">
            AND a.CAPTURE_TIME  <![CDATA[ <= ]]>  #{endTime}
        </if>
        <if test=" deviceIdList != null and deviceIdList.size() > 0">
            AND a.DEVICE_ID in
            <foreach collection="deviceIdList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test=" taskName != null and taskName != ''">
            AND (t.TASK_NAME LIKE concat(concat("%",#{taskName}),"%") OR bl.NAME LIKE concat(concat("%",#{taskName}),"%"))
        </if>

        <if test=" userId != null and userId != ''">
            AND
            ( (t.RECEIVOR_ID LIKE concat(concat("%",#{userId}),"%") OR t.CREATOR_ID = #{userId}) OR a.TASK_ID is null )
        </if>

        ORDER BY a.CAPTURE_TIME DESC
    </select>

    <!-- 查询历史警情-精确车牌 -->
    <select id="queryHistoricalAlarmExactPlateNum" parameterType="com.car.orbit.orbitservice.qo.AlarmQO" resultMap="AlarmVOMap">
        SELECT a.STATUS status,a.PASS_VEHICLE_ID passVehicleId, a.ID alarmId,a.PLATE_NUMBER
        plateNumber,a.PHOTO_FASTDFS_URL url,
        IF(a.TASK_ID IS NULL, 4, t.TASK_LEVEL) level,
        IF(a.TASK_ID IS NULL, bl.`NAME`, t.TASK_NAME) taskName,
        a.CAPTURE_TIME captureTime,a.DEVICE_ID deviceId,d.`NAME` deviceName,
        d.TYPE deviceType,d.LATITUDE latitude,d.LONGITUDE longitude,
        r.NAME roadName,e.NAME areaName,c.NAME cityName
        FROM orbit_control_alarm a
        LEFT JOIN orbit_res_device d ON a.DEVICE_ID = d.ID
        LEFT JOIN orbit_res_roadcross_point r on a.ROAD_CROSS_POINT_ID = r.ID
        LEFT JOIN orbit_res_area e on r.AREA_ID = e.ID
        LEFT JOIN orbit_res_city c on e.CITY_ID = c.ID
        LEFT JOIN orbit_control_task t ON a.TASK_ID = t.ID
        LEFT JOIN
        (SELECT b.VID, bt.`NAME` FROM orbit_control_blacklist b LEFT JOIN orbit_control_blacklist_type bt ON b.TYPE = bt.ID) bl ON bl.VID = a.BLACKLIST_ID
        WHERE 1=1
        <if test=" plateNumber != null and plateNumber != ''">
            AND a.PLATE_NUMBER = #{plateNumber}
        </if>
        <if test=" status != null and status != ''">
            AND a.STATUS = #{status}
        </if>
        <if test=" startTime != null and startTime != ''">
            AND a.CAPTURE_TIME <![CDATA[ >= ]]>  #{startTime}
        </if>
        <if test=" endTime != null and endTime != ''">
            AND a.CAPTURE_TIME  <![CDATA[ <= ]]>  #{endTime}
        </if>
        <if test=" deviceIdList != null and deviceIdList.size() > 0">
            AND a.DEVICE_ID in
            <foreach collection="deviceIdList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test=" taskName != null and taskName != ''">
            AND (t.TASK_NAME LIKE concat(concat("%",#{taskName}),"%") OR bl.NAME LIKE concat(concat("%",#{taskName}),"%"))
        </if>

        <if test=" userId != null and userId != ''">
            AND
            ( (t.RECEIVOR_ID LIKE concat(concat("%",#{userId}),"%") OR t.CREATOR_ID = #{userId}) OR a.TASK_ID is null )
        </if>

        ORDER BY a.CAPTURE_TIME DESC
    </select>

    <!-- 开启一车一档，预警 -->
    <select id="queryAlarmOneFile" parameterType="com.car.orbit.orbitservice.qo.AlarmQO" resultMap="AlarmOneFileMap">
        SELECT a.PLATE_NUMBER plateNumber,COUNT(a.PLATE_NUMBER) total,a.PHOTO_FASTDFS_URL url FROM orbit_control_alarm a
        LEFT JOIN orbit_control_task t ON a.TASK_ID = t.ID
        WHERE 1=1
        <if test=" plateNumber != null and plateNumber != ''">
            AND a.PLATE_NUMBER LIKE concat(concat("%",#{plateNumber}),"%")
        </if>
        <if test=" status != null and status != ''">
            AND a.STATUS = #{status}
        </if>
        <if test=" startTime != null and startTime != ''">
            AND a.CAPTURE_TIME <![CDATA[ >= ]]>  #{startTime}
        </if>
        <if test=" endTime != null and endTime != ''">
            AND a.CAPTURE_TIME  <![CDATA[ <= ]]>  #{endTime}
        </if>
        <if test=" deviceIdList != null and deviceIdList.size() > 0">
            AND a.DEVICE_ID in
            <foreach collection="deviceIdList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test=" taskName != null and taskName != ''">
            AND t.TASK_NAME LIKE concat(concat("%",#{taskName}),"%")
        </if>
        <if test=" userId != null and userId != ''">
            AND
            ( (t.RECEIVOR_ID LIKE concat(concat("%",#{userId}),"%") OR t.CREATOR_ID = #{userId}) OR a.TASK_ID is null )
        </if>
        GROUP BY a.PLATE_NUMBER
    </select>

    <!-- 查询未处理的警情条数 status=1 为未处置-->
    <select id="queryUntreatedAlarmNumber" resultType="java.lang.Integer">
        SELECT count(1) FROM orbit_control_alarm a
        LEFT JOIN orbit_control_task t ON a.TASK_ID = t.ID
        WHERE a.`STATUS` = 1
        <if test=" userId != null and userId != ''">
            AND
            ( (t.RECEIVOR_ID LIKE concat(concat("%",#{userId}),"%") OR t.CREATOR_ID = #{userId}) OR a.TASK_ID is null )
        </if>
    </select>

    <insert id="insertAlarm" parameterType="com.car.orbit.orbitservice.entity.OrbitControlAlarm">
        INSERT INTO orbit_control_alarm(ID,TASK_ID,DEVICE_ID,CAPTURE_TIME,
        PLATE_NUMBER,ALARM_DESCRIPTION,ALARM_TIME,STATUS,BLACKLIST_ID,PHOTO_FASTDFS_URL,
        CITY_NAME,AREA_NAME,ROAD_NAME,CITY_ID,AREA_ID,ROAD_CROSS_POINT_ID,PASS_VEHICLE_ID)
        VALUES(#{id},#{taskId},#{deviceId},#{captureTime},
        #{plateNumber},#{alarmDescription},#{alarmTime},#{status},#{blacklistId},#{photoFastdfsUrl},
        #{cityName},#{areaName},#{roadName},#{cityId},#{areaId},#{roadCrossPointId},#{passVehicleId})
        ON DUPLICATE KEY UPDATE ID = #{id}
    </insert>

</mapper>