<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.orbit.orbitservice.mapper.OrbitSysMonitorCenterMapper" >
  <resultMap id="BaseResultMap" type="com.car.orbit.orbitservice.entity.OrbitSysMonitorCenter" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="ADMIN_REGION_CODE" property="adminRegionCode" jdbcType="VARCHAR" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="PORT" property="port" jdbcType="INTEGER" />
    <result column="DELETED" property="deleted" jdbcType="INTEGER" />
    <result column="UNIFIED_ALARM_URL" property="unifiedAlarmUrl" jdbcType="VARCHAR" />
    <result column="VIDEO_SERVER_IP" property="videoServerIp" jdbcType="VARCHAR" />
    <result column="VIDEO_SDK" property="videoSdk" jdbcType="VARCHAR" />
    <result column="CITY_ID" property="cityId" jdbcType="VARCHAR" />
    <result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
    <result column="AREA_ID" property="areaId" jdbcType="VARCHAR" />
    <result column="AREA_NAME" property="areaName" jdbcType="VARCHAR" />
    <result column="ROAD_ID" property="roadId" jdbcType="VARCHAR" />
    <result column="ROAD_NAME" property="roadName" jdbcType="VARCHAR" />
    <result column="LEVEL_ID" property="levelId" jdbcType="VARCHAR" />
    <result column="LEVEL_NAME" property="levelName" jdbcType="VARCHAR" />
  </resultMap>

  <!-- 部分机构信息，用于下拉选择 -->
  <resultMap id="MonitorCenterVOMap" type="com.car.orbit.orbitservice.vo.MonitorCenterVO" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
  </resultMap>



    <!-- 机构管理分页列表-->
  <select id="queryListByPage" parameterType="com.car.orbit.orbitservice.qo.MonitorCenterQO" resultMap="BaseResultMap">
    SELECT *  FROM orbit_sys_monitor_center m WHERE DELETED != 2
    <if test=" name != null and name != ''">
      AND m.`NAME` like concat(concat("%",#{name}),"%")
    </if>
    <if test=" address != null and address != ''">
      AND m.`ADDRESS` like concat(concat("%",#{address}),"%")
    </if>
  </select>


  <!-- 查询部分机构信息，用于下拉选择 -->
  <select id="queryAllList"  resultMap="MonitorCenterVOMap">
    SELECT m.ID,m.NAME FROM orbit_sys_monitor_center m WHERE DELETED != 2
  </select>

</mapper>