<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <description>导入applicationContext文件列表</description>
    <import resource="classpath*:spring-conf/applicationContext.xml" />
    <import resource="classpath*:spring-servlet/servlet-context.xml"/>

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/redis.properties</value>
                <value>classpath:/datasource.properties</value>
            </list>
        </property>
    </bean>
</beans>